/* Style your dropdown below! */
p {
    margin: 0;
}

#toggle {
    width: 300px;
}

#toggle ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#toggle .container {
    margin: 0, auto;
    text-align: center;
}

#toggle img {
    width: 15px;
}

.container {
    font-family: 'Open Sans';
}

#more {
    cursor: pointer;
    background-color: skyblue;
    color: slategray;
    padding: 10px;
}

ul {
    display: none;
}

ul li {
    font-weight: bold;
    border: 1px black solid;
    padding: 10px;
}